h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#left-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  margin: 0;
  padding: 10px;
  background: #049372;
  width: 300px;
  opacity: .95;
  color: white;
  overflow-y:scroll;
}

#left-panel h1 {
  margin: 10px 20px 0;
}

#left-panel ul {
  padding: 0;
  list-style-type: none;
}

#left-panel li {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  width: 280px;
  height: 100px;
  padding: 10px;
}

#left-panel li main {
  float: left;
  position: relative;
  bottom: 15px;
}

#left-panel li h2 {
  color: #dc4a3e;
  font-size: 1.2em;
}

#left-panel li #price-range {
  color: #4d3f3f;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
}

#left-panel li #aggregate-score {
  font-size: 2.5em;
  margin: 20px auto;
  text-align: center;
}

#left-panel li aside {
  width: 100px;
  height: 100px;
  float: right;
  background-color: #33aa46;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}