h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

#left-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 2;
  margin: 0;
  padding: 0 10px;
  background: rgba(4, 147, 114, 0.75);
  width: 250px;
  color: white;
  overflow-y:scroll;
}

#left-panel h1 {
  margin: 10px 20px 0;
  text-align: center;
}

#left-panel ul {
  padding: 0;
  list-style-type: none;
}

#left-panel li {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  width: 230px;
  height: 100px;
  padding: 10px;
}

#left-panel li main {
  float: left;
  position: relative;
  bottom: 15px;
}

#left-panel li h2 {
  color: #dc4a3e;
  font-size: 1.2em;
}

#left-panel li #price-range {
  color: #4d3f3f;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
}

#left-panel li #aggregate-score {
  font-size: 2.5em;
  margin: 20px auto;
  text-align: center;
}

#left-panel li aside {
  width: 100px;
  height: 100px;
  float: right;
  background-color: #33aa46;
}

#bottom-panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(63, 116, 145, 0.9);
  color: white;
  z-index: 1;
}

#bottom-panel #behind-left-panel {
  width: 290px;
  height: 100%;
  float: left;
}

#bottom-panel #main-header {
  display: inline-block;
  height: 70px;
  width: 425px;
  margin-bottom: 20px;
  border-bottom: solid white 4px;
}

#bottom-panel header h1 {
  float: left;
}

#bottom-panel header #address {
  float: right;
  margin-top: 27px;
  color: #ABB7B7;
}

#bottom-panel #price-panel {
  float: right;
  height: 100px;
  width: 130px;
  display: inline-block;
  margin-left: 20px;
  background-image: url("../images/price-badge.png");
}

#main-content {
  width: 52%;
  display: inline-block;
}

#api-data {
  background-color: white;
  width: 100%;
  height: 275px;
  margin-top: 20px;
  overflow-y:scroll;
}

#api-data #image-row {

}

#api-data #image-row ul {
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin: 10px 1%;
}

#api-data #image-row li {
  display: inline-block;
  width: 24%;
}

#api-data #image-row li img {
  width: 100%;
}

#sidebar {
  position: fixed;
  margin-left: 1%;
  margin-right: 1%;
  height: 300px;
  width: 240px;
  display: inline-block;
}

#sidebar #score-panel {
  width: 240px;
  height: 232px;
  background-image: url("../images/score-badge.png");
  position: fixed;
}

#bottom-panel aside #aggregate-score {
  font-size: 5em;
  margin: 20px auto;
  text-align: center;
}

#bottom-panel #main-content #price-range {
  font-size: 2em;
  font-style: italic;
  font-weight: normal;
  margin: 13px auto;
  text-align: center;
}

/* THIS IS THE GOOGLE MAPS STUFF BELOW */

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 220px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}